pandas
psycopg2-binary
python-memcached
requests
pymongo==3.12
django==4.2
redis==3.5.3
supervisor
django-rq
pyssdb
tqdm==4.38.0
joblib==1.1.0
nltk
gensim
numpy
pymilvus
scikit-learn
typesense
translators
sentence-transformers
zhipu
hypercorn
uwsgi
jieba
celery[redis]
flower
gunicorn
daphne
uvicorn[standard]