pandas
psycopg2-binary
python-memcached
requests
pymongo==3.12
django==3.2.5
redis==3.5.3
gunicorn
greenlet
eventlet
gevent
supervisor
uvicorn[standard]
django-rq
pyssdb
tqdm==4.38.0
joblib==1.1.0
nltk
gensim
nmslib
meilisearch
numpy
pymilvus==2.0.2
spacy[transformers]
transformers[sentencepiece]
scikit-learn
