pandas
mysqlclient
python-memcached
transformers[sentencepiece]
requests
pymongo
django==4.2
redis==3.5.3
gunicorn
greenlet
eventlet
gevent
supervisor
uvicorn[standard]
django-rq==2.4.1
pyssdb
pytest-django
psycopg2-binary
tqdm
translators
celery
sentence_transformers
typesense
zhipu
jieba